In [2]:
# Import the dependencies
import pandas as pd
from pathlib import Path

In [22]:
# Read in the CSV
data = Path("Resources/heart_attack_prediction_dataset.csv")
data_df = pd.read_csv(data)
data_df.head()

,Patient ID,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,...,Sedentary Hours Per Day,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,BMW7812,67,Male,208,158/88,72,0,0,1,0,...,6.615001,261404,31.251233,286,0,6,Argentina,South America,Southern Hemisphere,0
1,CZE1114,21,Male,389,165/93,98,1,1,1,1,...,4.963459,285768,27.194973,235,1,7,Canada,North America,Northern Hemisphere,0
2,BNI9906,21,Female,324,174/99,72,1,0,0,0,...,9.463426,235282,28.176571,587,4,4,France,Europe,Northern Hemisphere,0
3,JLN3497,84,Male,383,163/100,73,1,1,1,0,...,7.648981,125640,36.464704,378,3,4,Canada,North America,Northern Hemisphere,0
4,GFO8847,66,Male,318,91/88,93,1,1,1,1,...,1.514821,160555,21.809144,231,1,5,Thailand,Asia,Northern Hemisphere,0

In [42]:
# Drop the un-necessary columns - "Patient ID" and "BMI"
updated_data_df = data_df.drop(columns =['Patient ID','BMI'])
updated_data_df

,Age,Sex,Cholesterol,Blood Pressure,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,...,Stress Level,Sedentary Hours Per Day,Income,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Country,Continent,Hemisphere,Heart Attack Risk
0,67,Male,208,158/88,72,0,0,1,0,0,...,9,6.615001,261404,286,0,6,Argentina,South America,Southern Hemisphere,0
1,21,Male,389,165/93,98,1,1,1,1,1,...,1,4.963459,285768,235,1,7,Canada,North America,Northern Hemisphere,0
2,21,Female,324,174/99,72,1,0,0,0,0,...,9,9.463426,235282,587,4,4,France,Europe,Northern Hemisphere,0
3,84,Male,383,163/100,73,1,1,1,0,1,...,9,7.648981,125640,378,3,4,Canada,North America,Northern Hemisphere,0
4,66,Male,318,91/88,93,1,1,1,1,0,...,6,1.514821,160555,231,1,5,Thailand,Asia,Northern Hemisphere,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8758,60,Male,121,94/76,61,1,1,1,0,1,...,8,10.806373,235420,67,7,7,Thailand,Asia,Northern Hemisphere,0
8759,28,Female,120,157/102,73,1,0,0,1,0,...,8,3.833038,217881,617,4,9,Canada,North America,Northern Hemisphere,0
8760,47,Male,250,161/75,105,0,1,1,1,1,...,5,2.375214,36998,527,4,4,Brazil,South America,Southern Hemisphere,1
8761,36,Male,178,119/67,60,1,0,1,0,0,...,5,0.029104,209943,114,2,8,Brazil,South America,Southern Hemisphere,0
8762,25,Female,356,138/67,75,1,1,0,0,1,...,8,9.005234,247338,180,7,4,United Kingdom,Europe,Northern Hemisphere,1

In [48]:
# Create the dataset based on all of the uncontrolled variables
uncontrolled_data_df = updated_data_df[['Age', 'Sex', 'Family History', 'Country', 'Continent', 'Hemisphere']].copy()
uncontrolled_data_df

,Age,Sex,Family History,Country,Continent,Hemisphere
0,67,Male,0,Argentina,South America,Southern Hemisphere
1,21,Male,1,Canada,North America,Northern Hemisphere
2,21,Female,0,France,Europe,Northern Hemisphere
3,84,Male,1,Canada,North America,Northern Hemisphere
4,66,Male,1,Thailand,Asia,Northern Hemisphere
...,...,...,...,...,...,...
8758,60,Male,1,Thailand,Asia,Northern Hemisphere
8759,28,Female,0,Canada,North America,Northern Hemisphere
8760,47,Male,1,Brazil,South America,Southern Hemisphere
8761,36,Male,0,Brazil,South America,Southern Hemisphere
8762,25,Female,1,United Kingdom,Europe,Northern Hemisphere

In [49]:
# Check the data types of the uncontrolled dataframe
uncontrolled_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             8763 non-null   int64
 1   Sex             8763 non-null   object
 2   Family History  8763 non-null   int64
 3   Country         8763 non-null   object
 4   Continent       8763 non-null   object
 5   Hemisphere      8763 non-null   object
dtypes: int64(2), object(4)
memory usage: 410.9+ KB